body {
	text-align: center;
}

#list {
	padding: 0;
	list-style-type: none;
}

#list span {
	margin-right: 5px;
}
#list .remove, #list .mark {
	color: blue;
	cursor: pointer;
}

#list .done {
	text-decoration: line-through;
}